* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E2947;
    /* position: absolute; */
}

/* Start of Nav */
.nav {
    height: 80.4px;
    background-color: #EEF4FD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.logo {
    width: 90px;
    height: 100px;
}

.logoutext {
    /* margin-left: -82px;  */
    font-weight: bold;
    font-size: large;
    text-align: center;
    cursor: pointer;
    color: #0E2947;
}

.logout{
    display: flex;
    align-items: center;
    gap: 3px;
}

.logout img{
    width: 30.4px;
    height: 30.4px;
}

nav a {
    text-decoration: none;
    color: #0E2947;
    font-size: large;
    font-weight: bold;
    position: relative;
}

nav a i {
    margin-top: 10px;
}

nav a #down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    margin-bottom: -12px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    top: 35px;
    left: -5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    font-size: 15px;
    color: #0E2947;
}

.dropdown-content a:hover {
    background-color: #EEF4FD;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Main */

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main{
    border: 2px solid white;
    height: 394.5px;
    width: 909.5px;
    position: relative;
    top: 115px;
}

.create span{
    background-color: #00A0E3;
    text-align: center;
    font-weight: bold;
    height: 60.8px;
}

.fourdivmain{
    display: flex;
    background-color: aquamarine;
    padding: 40px;

}

.fourdiv{
    border: 2px solid red;
}