* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E2947;
    /* position: absolute; */
}

/* Start of Nav */
.nav {
    height: 80.4px;
    background-color: #EEF4FD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.logo {
    width: 90px;
    height: 100px;
}

#logo img {
    margin-left: 11vh;
    height: 110px;
}

.logoutext {
    /* margin-left: -82px;  */
    font-weight: bold;
    font-size: large;
    text-align: center;
    cursor: pointer;
    color: #0E2947;
}

.logout{
    display: flex;
    align-items: center;
    gap: 3px;
}

.logout img{
    width: 30.4px;
    height: 30.4px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: #0E2947;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 6vh;
}

nav a {
    text-decoration: none;
    color: #0E2947;
    font-size: large;
    font-weight: bold;
    position: relative;
}

nav a i {
    margin-top: 10px;
}

nav a #down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    margin-bottom: -12px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    top: 23px;
    left: -5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    font-size: 15px;
    color: #0E2947;
}

.dropdown-content a:hover {
    background-color: #EEF4FD;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logoutext {
    font-weight: bold;
    font-size: large;
    text-align: center;
    cursor: pointer;
    color: #0E2947;
    margin-right: 3.0vw;
}

.logout {
    display: flex;
    align-items: center;
}

.logout img{
    width: 30.4px;
    height: 30.4px;
}

#navbar {
    height: 12vh;
    background-color: #EEF4FD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}
#logo {
    display: flex;
    align-items: center;
}



/* Updated Code End */


/* Main */

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;    
}
.main{
    /* border: 0.2px solid white;
    border-radius: 10px; */
    height: 394.5px;
    width: 509.5px;
    position: relative;
    top: 135px;
}

.create{
    border-radius: 10px;
    /* border: 2px solid black; */
    background-color: #00A0E3;
    text-align: center;
    font-weight: bold;
    height: 60.8px;
}

.CC{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border: 2px solid black; */
    background-color: #00A0E3;
    height: 60.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;   
}

.fourdivmain{
    display: flex;
    background-color: #F5F9FF;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fourdiv{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

.name{
    display: flex;
    flex-direction: column;
}

.first{
    display: flex;
    justify-content: space-between;
    margin: 0px 24px;
    /* border: 2px solid red; */
    /* gap: -10px; */
}

.type{
    display: flex;
    flex-direction: column;
}

.name input{
    /* border-radius: 4px; */
    border: 0.2px solid black;
    width: 100%;
    height: 50px;
    padding: 3px;
}

.marks input{
    border: 0.2px solid black;
    width: 100%;
    height: 50px;
    padding: 3px;
    padding-right: 10px;
}

.type select{
    border: 0.2px solid black;
    width: 100%;
    height: 50px;
    padding: 3px;
    color: rgb(87, 86, 86);
    margin-right: 30px;
}

.name label, .type label, .marks label{
    justify-content: start;
    display: flex;
}

.second{
    display: flex;
    justify-content: space-between;
    margin: 0px 24px;
    /* border: 2px solid red; */
}

.desc{
    display: flex;
    flex-direction: column;
}


.desc label, .domain label{
    display: flex;
    justify-content: flex-start;
}

.desc textarea{
    /* border-radius: 4px; */
    border: 0.2px solid black;
    /* width: 100%; */
    height: 50px;
    /* padding: 5px; */
    color: rgb(87, 86, 86);
    background-color: white;
    /* padding: 15px; */
    width: 100%;
    padding: 15px 20px 15px 3px;
}

.domain{
    display: flex;
    flex-direction: column;
}

.domain select{
    border: 0.2px solid black;
    width: 100%;
    height: 50px;
    padding: 3px;
    color: rgb(87, 86, 86);
    margin-right: 30px;
}


.btn button{
    height: 50px;
    width: 150px;
    background-color: #00266B;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
}

.btn button:hover{
    cursor: pointer;
}
.btn input{
    margin-top: 10px;
    height: 50px;
    width: 110px;
    background-color: #00266B;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
}

.btn input:hover{
    cursor: pointer;
}

#active{
    border: 0.5px solid #00A0E3;
    padding: 18px;
    border-radius: 4px;
}

.line:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #00A0E3;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .line:hover:after { 
    width: 100%; 
    left: 0;
  }

  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Popup content */
.popup-content {
    background-color: #fefefe;
    margin: 23% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 4px;
}

.popup button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.Yes{
    background-color: #00A0E3;
    border: none;
    color: white;
    border-radius: 6px;
}

.No{
    background-color: #00266B;
    border: none;
    color: white;
    border-radius: 6px;
}

  @media (max-width: 768px) {
    #logo img{
        margin-left: 0vh;
        height: 110px;
    }
    .menu-toggle {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 12vh;
        left: 0;
        background-color: #eef4fdf5;
        text-align: center;
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        width: 70%;
        gap: 40px;
        border-radius: 5px;
        z-index: 1;
        position: absolute;
        left: 28%;
        top: 56%;
        border: 0.8px solid #0E2947;
        padding: 20px 0px;
    }

    nav a {
        width: 100%;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
        border-radius: 0;
    }

    .dropdown-content a {
        padding: 10px;
    }

    .logout {
        margin-top: 10px;
    }
    .first, .second{
        flex-direction: column;
        gap: 15px;
    }
    .fourdiv{
        gap: 15px;
    
    }
    .btn input{
        margin-top: 15px;
    }
    .main{
        top: 80px;
    }
    .popup-content {
        margin: 92% auto;
    }
}