* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E2947;
    /* position: absolute; */
}

/* Start of Nav */
.nav {
    height: 80.4px;
    background-color: #EEF4FD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.logo {
    width: 90px;
    height: 100px;
}

.logoutext {
    /* margin-left: -82px;  */
    font-weight: bold;
    font-size: large;
    text-align: center;
    cursor: pointer;
    color: #0E2947;
}

.logout{
    display: flex;
    align-items: center;
    gap: 3px;
}

.logout img{
    width: 30.4px;
    height: 30.4px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: #0E2947;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 6vh;
}

nav a {
    text-decoration: none;
    color: #0E2947;
    font-size: large;
    font-weight: bold;
    position: relative;

}

nav a i {
    margin-top: 10px;
}

nav a #down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    margin-bottom: -12px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    top: 23px;
    left: -5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    font-size: 15px;
    color: #0E2947;
}

.dropdown-content a:hover {
    background-color: #EEF4FD;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* End of nav */

/* Notification Section Start */

.notifications{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 610px;
    height: 165.4px;
    position: relative;
    top: 30px;
    border-radius: 10px;
    gap: 8px;
    
}

.noti-overview{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 55px;
}

.notifications #Hello{
    font-size: 50px;
}
.notifications #Noti{
    font-size: 19px;
}
.notifications span img{
    width: 30.8px;
    height: 34px;
}

/* Notification Section End */

/* Main section start */

.main{
    background-color: #EEF4FD;
    width: 1285.3px;
    height: 425px;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    
}

.butt{
    display: flex;
    justify-content: space-between;
    padding: 0px 38px;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.card{
    background-color: #fff;
    width: 252.1px;
    height: 126.4px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 20px;
    border: 0px solid grey;
    border-radius: 10px;
}

.card img{
    width: 25.1px;
    height: 20.9px;
    color: gainsboro;
}

.btn{
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  /* margin: 0px 0px; */
}

.btn.active {
    background-color: #0E2947; /* Set the background color for active button */
    color: white; /* Set the text color for active button */
  }

  .num{
    font-weight: bolder;
    font-size: larger;
  }

  /* .card img{
    color: gray;
  } */


  .line:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #00A0E3;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .line:hover:after { 
    width: 100%; 
    left: 0;
  }
  #logo img {
    margin-left: 11vh;
    height: 110px;
}

.first {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.second{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

  /* Updated Code Start */

  @media (max-width: 768px) {
    #logo img{
        margin-left: 0vh;
        height: 110px;
    }

    .menu-toggle {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 12vh;
        left: 0;
        background-color: #eef4fdf5;
        text-align: center;
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        width: 70%;
        gap: 40px;
        border-radius: 5px;
        z-index: 1;
        position: absolute;
        left: 28%;
        top: 56%;
        border: 0.8px solid #0E2947;
        padding: 20px 0px;
    }

    nav a {
        width: 100%;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
        border-radius: 0;
    }

    .dropdown-content a {
        padding: 10px;
    }

    .logout {
        margin-top: 10px;
    }

    .notifications{
        width: 283px;
        height: 130.4px;
        gap: 10px;
    }

    .notifications #Hello{
        font-size: 30px;
    }
    .notifications #Noti{
        font-size: 11px;
    }
    .notifications span img{
        width: 20.8px;
        height: 25px;
    }
    .butt{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
        gap: 20px;
    }
    .btn{
        padding: 6px 10px;
    }
    .main{
        width: 90%;
        height: 470px;
    }

    .first .second{
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .first{
        gap: 30px;
    }
    .cards{
        flex-direction: column;
        gap: 25px;
    }
    .card{
        align-items: center;
    }
    .card .text{
        font-size: 12px;
        text-align: center;
    }
    .card span .num{
        font-size: 30px;
    }
    .butt span{
        text-decoration: 1px underline #00A0E3;
    }
}

.logoutext {
    font-weight: bold;
    font-size: large;
    text-align: center;
    cursor: pointer;
    color: #0E2947;
    margin-right: 3.0vw;
}

.logout {
    display: flex;
    align-items: center;
}

.logout img{
    width: 30.4px;
    height: 30.4px;
}

#navbar {
    height: 12vh;
    background-color: #EEF4FD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}
#logo {
    display: flex;
    align-items: center;
}





/* Updated Code End */